$accent_yellow_color: rgb(207, 207, 38);

$background_gray_color: rgb(53, 53, 53);
$dark_gray_color: rgb(48, 48, 48);
$light_gray_color: rgba(245, 245, 245, 0.1);

$text_white_color: rgb(182, 183, 179);

$error_red_color: rgb(255, 51, 51);

$cancel_red_color: red;
$accept_green_color: green;