@use "./vars";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html,
body,
#root {
  width: 100%;
  height: 100%;
  min-height: 100%;
}
html {
  font-size: 16px;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav{
  display: flex;
  align-items: center;
}
button{
  background-color: transparent;
  padding: 8px 10px;
  border: 0;
  color: vars.$text_white_color;
}

a,
.link {
  text-decoration: none;
  color: gray;
  transition-duration: 0.3s;
}
a:hover,
.link:hover, button:hover {
  color: vars.$accent_yellow_color;
}

input {
  border-radius: 8px;
  padding: 10px;
  border: 0;
  text-align: center;
  margin-top: 5px;
  background-color: transparent;
  border-bottom: 1px solid gray;
  color: vars.$accent_yellow_color;
  font-size: 1rem;
}
input:focus {
  outline: 0;
}
input[type="submit"] {
  padding: 10px 25px;
  border: 1px solid gray;
  color: gray;
  transition-duration: 0.3s;
  opacity: 0.4;
  will-change: transform;
}
input[type="submit"]:hover {
  opacity: 1;
  cursor: pointer;
  background-color: vars.$accent_yellow_color;
  transform: translateY(-5px);
}
input[type="submit"]:active {
  transition-duration: 0.1s;
  transform: translateY(-2px) scale(0.9);
}

textarea {
  font-size: 1rem;
  border-radius: 3px;
  border: 0;
  padding: 10px;
  background-color: transparent;
  resize: none;
  transition-duration: 0.4s;
  transition-timing-function: ease-in;
}
textarea:focus {
  outline: 0;
  box-shadow: 0 0 8px vars.$accent_yellow_color;
}

.error {
  color: vars.$error_red_color;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: vars.$background_gray_color;
}

::-webkit-scrollbar-thumb {
  background-color: vars.$accent_yellow_color;
  border-radius: 10px;
}


