@use "./vars";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html,
body,
#root {
  width: 100%;
  height: 100%;
  min-height: 100%;
}
html {
  font-size: 16px;
}
@media (max-width: 500px) {
  html {
    font-size: 13px;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
}
button {
  background-color: transparent;
  padding: 8px 10px;
  border: 0;
  color: vars.$text_white_color;
}

a,
.link {
  text-decoration: none;
  color: vars.$text_white_color;
  transition-duration: 0.3s;
}
a:hover,
.link:hover,
button:hover {
  color: vars.$accent_yellow_color;
  cursor: pointer;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
  border-radius: 8px;
  padding: 10px;
  border: 0;
  text-align: center;
  margin-top: 5px;
  background-color: transparent;
  border-bottom: 1px solid vars.$text_white_color;
  color: vars.$accent_yellow_color;
  font-size: 1rem;
}
input:focus {
  outline: 0;
}
input[type="submit"] {
  padding: 10px 25px;
  border: 1px solid vars.$background_gray_color;
  color: vars.$background_gray_color;
  background-color: vars.$accent_yellow_color;
  transition-duration: 0.3s;
  will-change: transform;
}
input[type="submit"]:hover {
  cursor: pointer;
  background-color: vars.$accent_yellow_color;
  transform: translateY(-5px);
  cursor: pointer;
}
input[type="submit"]:active {
  transition-duration: 0.1s;
  transform: translateY(-2px) scale(0.9);
}

textarea {
  font-size: 1rem;
  border-radius: 3px;
  border: 0;
  padding: 10px;
  background-color: transparent;
  resize: none;
}
textarea:focus {
  outline: 0;
}

.error {
  color: vars.$error_red_color;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: vars.$background_gray_color;
}

::-webkit-scrollbar-thumb {
  background-color: vars.$accent_yellow_color;
  border-radius: 10px;
}

.deletingMessage {
  animation: animDeletingMessage 0.7s 1 forwards;
}

@keyframes animDeletingMessage {
  0% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
  40% {
    filter: blur(0px);
  }
  100% {
    transform: translate(10px, 0);
    opacity: 0;
    filter: blur(5px);
  }
}



.notification {
  position: fixed;
  top: 20%;
  left: 0;
  padding: 8px;
  background-color: vars.$background_gray_color;
  box-shadow: 0 0 5px vars.$accent_yellow_color;
  color: vars.$accent_yellow_color;
  opacity: 0.6;
  border-radius: 0 10px 10px 0;
  font-size: 0.8rem;
  animation: notificationAnim 2.8s ease-in-out 1 forwards;
}
@keyframes notificationAnim {
  0% {
    transform: translate(-100%, 0);
  }
  20% {
    transform: translate(0%, 0);
  }
  90% {
    transform: translate(0, 50%);
    opacity: 1;
  }
  100% {
    transform: translate(-100%, 50%);
    opacity: 0;
  }
}
