*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html, body, #root{
  width: 100%;
  height: 100%;
  min-height: 100%;
}

a, .link{
  text-decoration: none;
  color: gray;
}
a:hover, .link:hover {
  color: rgb(207, 207, 38);
}
