@use "../../vars";

#conference__indicator-friend {
  &.iAmWaiting {
    animation: iAmWaitingAnim 2s infinite linear;
    // Анимация отражена зеркально, так как блок scale(-1)
    @keyframes iAmWaitingAnim {
      0% {
        // box-shadow: 0 -3px 3px yellow inset;
        border-right: 2px solid vars.$accent_yellow_color;
      }
      25% {
        // box-shadow: -3px 0 3px yellow inset;
        border-top: 2px solid vars.$accent_yellow_color;
      }
      50% {
        // box-shadow: 0 3px 3px yellow inset;
        border-left: 2px solid vars.$accent_yellow_color;
      }
      75% {
        // box-shadow: 3px 0 3px yellow inset;
        border-bottom: 2px solid vars.$accent_yellow_color;
      }
    }
  }

  &.itIsWaiting {
    color: vars.$accent_yellow_color;
    opacity: 1 !important;
    animation: itIsWaitingAnim 1s infinite ease-in-out;
    @keyframes itIsWaitingAnim {
      0% {
        transform: scale(1);
      }
      25% {
        transform: scale(1.04);
      }
      50% {
        transform: scale(0.97);
        filter: blur(1px);
      }
      60% {
        transform: scale(1.05);
        filter: blur(0px);
      }
      70% {
        transform: scale(1.01);
      }
      80% {
        transform: scale(1.03);
      }
      90% {
        transform: scale(1.01);
      }
      100% {
        transform: scale(1);
      }
    }
  }
}
#conference__indicator-name_friend,
#conference__indicator-name_me {
  &.ready {
    transform: scale(1);
    color: vars.$accent_yellow_color;
    opacity: 1 !important;
  }

  &.muted {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      left: 100%;
      top: 0;
      height: 100%;
      aspect-ratio: 1/1;
      background-image: url(../../assets/icons/MicrophoneDisabled.svg);
      background-size: 70%;
      background-repeat: no-repeat;
      background-position: center;
      filter: grayscale(1) brightness(5);
      opacity: 0.3;
    }
  }
}

#conference__indicator {
  &.iAmWaiting {
    background-color: vars.$accent_yellow_color;
    display: inline-block;
    border-radius: 50%;
    animation: iAmWaiting_anim 3s linear infinite;
    filter: none !important;
    opacity: 1 !important;
  }
  @keyframes iAmWaiting_anim {
    0% {
      transform: scale(1);
    }
    20% {
      transform: scaleX(1.3) scaleY(1);
    }
    30% {
      transform: scaleX(1.1) scaleY(1.1);
      border-radius: 50%;
    }
    40% {
      transform: scaleX(0.7) scaleY(0.7);
      border-radius: 5% 40%;
    }
    100% {
      transform: scale(1);
    }
  }
}
