@use "../../vars";

#conference__friend-indicator {
  padding: 5px 8px;
  &.iAmWaiting {
    animation: iAmWaitingAnim 2s infinite ease;
    @keyframes iAmWaitingAnim {
      0% {
        border-left: 2px solid vars.$accent_yellow_color;
      }
      25% {
        border-top: 2px solid vars.$accent_yellow_color;
      }
      50% {
        border-right: 2px solid vars.$accent_yellow_color;
      }
      75% {
        border-bottom: 2px solid vars.$accent_yellow_color;
      }
    }
  }

  &.itIsWaiting {
    color: vars.$accent_yellow_color;
    opacity: 1 !important;
    animation: itIsWaitingAnim 1s infinite ease;
    @keyframes itIsWaitingAnim {
      0% {
        transform: scale(1);
      }
      25% {
        transform: scale(1.2);
      }
      50% {
        transform: scale(1.1);
      }
      60% {
        transform: scale(1.2);
      }
      70% {
        transform: scale(1.1);
      }
      80% {
        transform: scale(1.2);
      }
      90% {
        transform: scale(1.1);
      }
      100% {
        transform: scale(1);
      }
    }
  }

  &.bothAreReady {
    transform: scale(1);
    color: vars.$accent_yellow_color;
    opacity: 1 !important;
  }
}

#conference__my-indicator {
  &.iAmWaiting {
    background-color: vars.$accent_yellow_color;
    display: inline-block;
    border-radius: 50%;
    animation: iAmWaiting_anim 3s linear infinite;
    filter: none !important;
    opacity: 1 !important;
  }
  @keyframes iAmWaiting_anim {
    0% {
      transform: scale(1);
    }
    20% {
      transform: scaleX(1.3) scaleY(1);
    }
    30% {
      transform: scaleX(1.1) scaleY(1.1);
      border-radius: 50%;
    }
    40% {
      transform: scaleX(0.7) scaleY(0.7);
      border-radius: 5% 40%;
    }
    100% {
      transform: scale(1);
    }
  }
}
