@use "../../vars";
@use "../../mixins";

.wrapper-conference {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-rows: 50px 15vh 50px;
  justify-items: center;
  align-content: center;
  align-items: center;
  gap: 30px;

  .conference__friend {
    text-align: center;
    p {
      opacity: 0.3;
      margin-bottom: 10px;
    }
    h2 {
      transition-duration: 0.5s;
      border: 2px solid transparent;
      padding: 3px;
      border-radius: 15px;
      opacity: 0.5;
    }
  }

  .conference__indicator {
    border: 3px solid vars.$accent_yellow_color;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition-duration: 0.1s;
  }

  .conference__menu {
    text-align: center;
    gap: 20px;
    p {
      font-size: 13px;
    }
    button {
      background-color: vars.$accent_yellow_color;
      color: vars.$dark_gray_color;
      width: 150px;
      border-radius: 10px;
      margin-top: 5px;
    }
  }
}
