.image_showbox {
    position: fixed;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    backdrop-filter: blur(3px) brightness(0.8);

    @include mixins.flex-center;

    section {
      width: 80vw;
      height: 80vh;

      @include mixins.flex-center;

      img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
      }
    }
  }