.textarea {
  &__top {
    min-height: 2rem;
    transition-duration: 0.5s;
    display: grid;
    align-items: center;
    grid-template:
      "whoIsTyping nameOfFile"
      "selectedMessage selectedMessage";
    grid-template-columns: 1fr 30%;

    @media (max-width: 500px) {
      grid-template-columns: 1fr 50%;
    }

    .nameOfFile {
      grid-area: nameOfFile;

      padding: 0 8px;
      text-align: right;
      @include mixins.cut-text;
      animation: enterAnim 1s ease-in 1 forwards;

      @keyframes enterAnim {
        0% {
          padding-right: 40%;
        }
        100% {
          padding-right: 8px;
        }
      }
    }

    .whoIsTyping {
      grid-area: whoIsTyping;
      padding: 0 8px;
      animation: whoIsTypingAnim 1s ease-in-out infinite alternate;
      overflow: auto;

      @include mixins.cut-text;

      @keyframes whoIsTypingAnim {
        0% {
          letter-spacing: 0px;
        }
        100% {
          letter-spacing: 1px;
        }
      }
    }

    .selectedMessage {
      grid-area: selectedMessage;
      background-color: vars.$dark_gray_color;
      margin: 5px;
      padding: 5px;
      border-radius: 5px;
      display: grid;
      grid-template:
        "img name close"
        "img content close" / auto 1fr auto;
      column-gap: 6px;
      row-gap: 3px;
      span {
        color: vars.$accent_yellow_color;
      }
      h3 {
        grid-area: name;
        font-size: 1rem;
        color: vars.$accent_yellow_color;
      }
      p {
        grid-area: content;
        font-size: 0.9rem;
        @include mixins.cut-text;
      }
      img {
        grid-area: img;
        width: 3rem;
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 5px;
      }
      button {
        width: 30px;
        grid-area: close;
      }
    }
  }

  &__bottom {
    display: flex;

    border: 1px solid rgba(245, 245, 245, 0.2);
    border-radius: 5px;
    transition-duration: 0.3s;

    height: 3.6rem;

    &:has(textarea:focus) {
      box-shadow: 0 0 8px vars.$accent_yellow_color;
    }
  }

  &__field {
    flex-grow: 1;
    color: vars.$text_white_color;
    &:focus ~ nav button {
      opacity: 0.5;
    }
  }

  &__filler{
    flex-grow: 1;
    padding: 10px;
  }

  &__nav {
    padding: 0 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
    height: 100%;
    position: relative;

    &_emoji {
      display: none;
      position: absolute;
      z-index: 100;
      right: 0;
      top: 0;
      transform: translateY(-100%);
      padding: 20px 0;

      &-body {
        width: 100%;
        height: 100%;
        border: 1px solid rgba(245, 245, 245, 0.2);
        background-color: vars.$background_gray_color;
        padding: 20px;
        border-radius: 5px;
      }

      &-section {
        margin-bottom: 10px;
        p {
          margin-bottom: 5px;
        }
      }

      &-list {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        gap: 5px;

        li {
          font-size: 1.6rem;
          text-align: center;
          aspect-ratio: 1/1;
          // background-color: red;
          cursor: pointer;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }

  &__button {
    padding: 0;
    font-size: 2rem;
    width: 35px;
    height: 35px;

    img {
      &:not([data-modif="nongray"]) {
        transition-duration: 0.4s;
        opacity: 0.3;
        filter: grayscale(1);
      }
    }

    &:hover img {
      opacity: 1 !important;
      filter: grayscale(0);
    }
  }

  &__fileStatus {
    &::after {
      content: "✔";
      color: greenyellow;
    }
    &:hover::after {
      content: "Х";
      color: red;
    }
  }
}
