@use "../../vars";

.wrapper {
  background-color: vars.$background_gray_color;
  color: vars.$text_white_color;

  width: 100%;
  height: 100%;
  padding: 5vh 10vw;

  display: flex;
  flex-direction: column;
  gap: 20px;

  .chat {
    display: flex;
    flex-direction: column-reverse;
    justify-content: end;
    overflow: auto;
    gap: 10px;
    font-size: 1rem;
    flex-grow: 1;
    padding: 10px;

    &__message {
      padding: 10px;
      border-radius: 10px 10px 10px 0px;
      border: 1px solid rgba(245, 245, 245, 0.2);
      width: auto;
      max-width: 60%;
      min-width: 30%;
      position: relative;
      align-self: start;

      &-user {
        color: vars.$accent_yellow_color;
        font-weight: bold;
        padding-bottom: 5px;
      }
      &-content {
        margin-bottom: 15px;
      }
      &-date {
        position: absolute;
        right: 10px;
        bottom: 5px;
        font-size: 0.7rem;
        opacity: 0.5;
      }
    }
    &__myMessage {
      text-align: right;
      align-self: end;
      border-radius: 10px 10px 0px 10px;
    }
  }

  textarea {
    height: 120px;
    border: 1px solid rgba(245, 245, 245, 0.2);
    color: vars.$text_white_color;
  }
}
