@use "../../vars";

.wrapper {
  background-color: vars.$background_gray_color;
  color: vars.$text_white_color;

  width: 100%;
  height: 100%;
  padding: 5vh 10vw;

  display: flex;
  flex-direction: column;
  gap: 20px;

  .chat {
    display: flex;
    flex-direction: column-reverse;
    justify-content: end;
    overflow: auto;
    gap: 10px;
    font-size: 1rem;
    flex-grow: 1;
    padding: 10px;

    &__message {
      padding: 10px;
      padding-right: 30px;
      border-radius: 10px 10px 10px 0px;
      border: 1px solid rgba(245, 245, 245, 0.2);
      width: auto;
      max-width: 60%;
      min-width: 30%;
      position: relative;
      align-self: start;

      &-user {
        color: vars.$accent_yellow_color;
        font-weight: bold;
        padding-bottom: 5px;
      }
      &-content {
        margin-bottom: 15px;
      }
      &-date {
        position: absolute;
        right: 10px;
        bottom: 5px;
        font-size: 0.7rem;
        opacity: 0.5;
      }
      &-delete{
        filter: brightness(0.6);
        position: absolute;
        right: 0px;
        top: 0px;
        font-size: 0.6rem;
        &:hover{
          color: vars.$error_red_color;
          filter: brightness(1);
        }
      }
    }
    &__myMessage {
      text-align: right;
      align-self: end;
      border-radius: 10px 10px 0px 10px;
    }
  }

  .textarea {
    height: 120px;
    border: 1px solid rgba(245, 245, 245, 0.2);
    
    position: relative;
    display: flex;

    textarea{
      flex-grow: 1;
      color: vars.$text_white_color;
    }

    &__button {
      right: 0;
      bottom: 0;
      font-size: 1.5rem;
      background-color: vars.$accent_yellow_color;
      color: vars.$background_gray_color;
      opacity: 0.3;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 15px;

      &:hover{
        opacity: 0.7;
      }
    }
  }
}
