@use "../../vars";

.wrapper {
  background-color: vars.$background_gray_color;
  color: vars.$text_white_color;

  width: 100%;
  height: 100%;
  padding: 5vh 10vw;

  display: flex;
  flex-direction: column;
  gap: 20px;

  nav {
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 5px;
    button {
      padding: 0;
    }
  }

  .chat {
    display: flex;
    flex-direction: column-reverse;
    justify-content: end;
    overflow: auto;
    gap: 10px;
    font-size: 1rem;
    flex-grow: 1;
    padding: 10px;

    &__message {
      padding: 10px 30px 10px 15px;
      border-radius: 10px 10px 10px 0px;
      border: 1px solid rgba(245, 245, 245, 0.2);
      width: auto;
      max-width: 60%;
      min-width: auto;
      position: relative;
      align-self: start;
      white-space: pre-line;
      word-wrap: break-word;
      overflow-wrap: anywhere;

      &-user {
        color: vars.$accent_yellow_color;
        font-weight: bold;
        padding-bottom: 5px;
      }
      &-content {
        margin-bottom: 15px;
      }
      &-date {
        position: absolute;
        right: 10px;
        bottom: 5px;
        font-size: 0.7rem;
        opacity: 0.5;
      }
      &-delete {
        filter: brightness(0.6);
        position: absolute;
        right: 0px;
        top: 0px;
        font-size: 0.6rem;
        &:hover {
          color: vars.$error_red_color;
          filter: brightness(1);
        }
      }
    }
    &__myMessage {
      text-align: right;
      align-self: end;
      border-radius: 10px 10px 0px 10px;
    }
  }

  .textarea {
    border: 1px solid rgba(245, 245, 245, 0.2);
    border-radius: 5px;

    position: relative;
    display: flex;
    transition-duration: 0.4s;
    transition-timing-function: ease-in;

    &:has(textarea:focus) {
      box-shadow: 0 0 8px vars.$accent_yellow_color;
    }

    .textarea__field {
      flex-grow: 1;
      color: vars.$text_white_color;

      &:focus ~ nav button {
        opacity: 0.7;
      }
    }

    &__nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 100%;
      padding: 0px 5px;
      position: relative;

      &_emoji {
        display: none;
        position: absolute;
        right: 0;
        top: 0;
        transform: translateY(-100%);
        padding: 20px 0;

        &-body {
          width: 100%;
          height: 100%;
          border: 1px solid rgba(245, 245, 245, 0.2);
          background-color: vars.$background_gray_color;
          padding: 20px;
          border-radius: 5px;
        }

        &-section {
          margin-bottom: 10px;
          p {
            margin-bottom: 5px;
          }
        }

        &-list {
          list-style: none;
          display: grid;
          grid-template-columns: repeat(8, 1fr);
          gap: 5px;

          li {
            font-size: 1.6rem;
            text-align: center;
            aspect-ratio: 1/1;
            // background-color: red;
            cursor: pointer;

            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }
    }

    &__button {
      font-size: 2rem;
      opacity: 0.3;

      transition-duration: 0.4s;
      height: 100%;

      &:hover {
        opacity: 1 !important;
      }
    }
  }
}
