@use "../../vars";
@use "../../mixins";

.wrapper {
  background-color: vars.$background_gray_color;
  color: vars.$text_white_color;

  width: 100%;
  height: 100%;
  padding: 5vh 10vw;

  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (max-width: 500px) {
    padding: 3vh 5vw;
  }
  @media (max-width: 400px) {
    padding: 2vh 2vw;
  }

  nav {
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 5px;
    button {
      padding: 0;
    }
  }

  .chat {
    display: flex;
    flex-direction: column-reverse;
    justify-content: end;
    overflow: auto;
    gap: 10px;
    font-size: 1rem;
    flex-grow: 1;
    padding: 10px;

    &__message {
      border-radius: 10px 10px 10px 0px;
      border: 1px solid rgba(245, 245, 245, 0.1);
      width: auto;
      max-width: 60%;
      min-width: 100px;
      position: relative;
      align-self: start;
      white-space: pre-line;
      word-wrap: break-word;
      overflow-wrap: anywhere;
      padding: 10px;

      @media (max-width: 500px) {
        max-width: 90%;
        border: 1px solid rgba(245, 245, 245, 0.1);
      }

      &-user {
        color: vars.$accent_yellow_color;
        font-weight: bold;
        padding-bottom: 5px;
      }
      &-content {
        margin-bottom: 10px;
      }
      &-date {
        position: absolute;
        right: 10px;
        bottom: 5px;
        font-size: 0.7rem;
        opacity: 0.4;
      }
      &-image {
        margin-bottom: 10px;
        max-width: 100%;
        max-height: 300px;
        object-fit: contain;
        border-radius: 10px;
        color: rgba(96, 96, 96, 0.4);
      }
      &-delete {
        filter: brightness(0.6);
        position: absolute;
        right: 0px;
        top: 0px;
        font-size: 0.6rem;
        &:hover {
          color: vars.$error_red_color;
          filter: brightness(1);
        }
      }
    }
    &__myMessage {
      text-align: left;
      align-self: end;
      border-radius: 10px 10px 0px 10px;
      padding: 10px 25px 10px 10px;
    }
  }

  .textarea {
    border: 1px solid rgba(245, 245, 245, 0.2);
    border-radius: 5px;

    position: relative;
    display: flex;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;

    &:has(textarea:focus) {
      box-shadow: 0 0 8px vars.$accent_yellow_color;
    }

    .textarea__field {
      flex-grow: 1;
      height: 3.6rem;
      color: vars.$text_white_color;

      &:focus ~ nav button {
        opacity: 0.7;
      }
    }

    &__infobox {
      border-radius: 10px 10px 0 0;
      height: auto;
      width: 100%;
      transform: translateY(-103%);
      position: absolute;
      left: 0;
      top: 0;
      transition-duration: 0.5s;

      display: grid;
      grid-template-columns: 1fr 30%;
      justify-content: space-between;

      @media (max-width: 500px) {
        grid-template-columns: 1fr 50%;
      }

      .nameOfFile {
        text-align: right;
        @include mixins.cut-text;
        animation: enterAnim 1s ease-in 1 forwards;

        @keyframes enterAnim {
          0% {
            padding-right: 40%;
          }
          100% {
            padding-right: 8px;
          }
        }
      }

      .whoIsTyping {
        padding: 8px;
        animation: whoIsTypingAnim 1s ease-in-out infinite alternate;
        overflow: auto;

        @include mixins.cut-text;

        @keyframes whoIsTypingAnim {
          0% {
            letter-spacing: 0px;
          }
          100% {
            letter-spacing: 1px;
          }
        }
      }
    }

    &__nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 100%;
      padding: 0px 5px;
      position: relative;

      &_emoji {
        display: none;
        position: absolute;
        right: 0;
        top: 0;
        transform: translateY(-100%);
        padding: 20px 0;

        &-body {
          width: 100%;
          height: 100%;
          border: 1px solid rgba(245, 245, 245, 0.2);
          background-color: vars.$background_gray_color;
          padding: 20px;
          border-radius: 5px;
        }

        &-section {
          margin-bottom: 10px;
          p {
            margin-bottom: 5px;
          }
        }

        &-list {
          list-style: none;
          display: grid;
          grid-template-columns: repeat(8, 1fr);
          gap: 5px;

          li {
            font-size: 1.6rem;
            text-align: center;
            aspect-ratio: 1/1;
            // background-color: red;
            cursor: pointer;

            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }
    }

    &__button {
      font-size: 2rem;
      opacity: 0.3;
      width: 35px;

      transition-duration: 0.4s;
      height: 100%;

      &:hover {
        opacity: 1 !important;
      }
    }

    &__fileStatus {
      &::after {
        content: "✔";
        color: greenyellow;
      }
      &:hover::after {
        content: "Х";
        color: red;
      }
    }
  }

  .imageWrapper {
    position: fixed;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    backdrop-filter: blur(3px) brightness(0.8);

    @include mixins.flex-center;

    section {
      width: 80vw;
      height: 80vh;

      @include mixins.flex-center;

      img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
      }
    }
  }
}
