@use "../../vars";
@use "../../mixins";

.wrapper {
  background-color: vars.$background_gray_color;
  color: vars.$text_white_color;

  width: 100%;
  height: 100%;
  padding: 5vh 10vw;

  display: flex;
  flex-direction: column;

  @media (max-width: 500px) {
    padding: 3vh 5vw;
  }
  @media (max-width: 400px) {
    padding: 2vh 2vw;
  }

  nav {
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 5px;
    button {
      padding: 0;
    }
  }

  .chat {
    display: flex;
    flex-direction: column-reverse;
    justify-content: end;
    overflow: auto;
    gap: 10px;
    font-size: 1rem;
    flex-grow: 1;
    padding: 10px;

    &__message {
      border-radius: 10px 10px 10px 0px;
      border: 1px solid vars.$light_gray_color;
      width: auto;
      max-width: 60%;
      min-width: 100px;
      position: relative;
      align-self: start;
      white-space: pre-line;
      word-wrap: break-word;
      overflow-wrap: anywhere;
      padding: 10px 25px 20px 10px;

      transition-property: box-shadow;
      transition-duration: 0.5s;
      transition-delay: 0.5s;

      display: flex;
      flex-direction: column;
      gap: 9px;

      @media (max-width: 500px) {
        max-width: 90%;
        border: 1px solid rgba(245, 245, 245, 0.1);
      }

      &-user {
        color: vars.$accent_yellow_color;
        font-weight: bold;
      }
      &-content {
        color: vars.$text_white_color;
      }
      &-date {
        position: absolute;
        z-index: 10;
        right: 10px;
        bottom: 5px;
        font-size: 0.7rem;
        opacity: 0.4;
      }
      &-image {
        max-width: 100%;
        max-height: 300px;
        object-fit: cover;
        border-radius: 10px;
        color: rgba(96, 96, 96, 0.4);
      }

      &:hover button {
        transform: translateY(0%);
        opacity: 1;
      }

      &-menu {
        position: absolute;
        right: 0px;
        top: 0px;
        transform: translateY(-50%);
        font-size: 0.6rem;
        display: flex;
        flex-direction: row;
        height: 20px;
        gap: 4px;
        opacity: 1;
        overflow: hidden;

        button {
          border: 1px solid vars.$light_gray_color;
          background-color: vars.$background_gray_color;
          filter: none;
          padding: 3px;
          width: 20px;
          height: 100%;
          border-radius: 50%;
          transform: translateY(100%);
          transition-duration: 0.3s;
          @include mixins.flex-center;
        }

        &-toDelete {
          transition-property: transform;
          transition-delay: 0.2s;
          &:hover {
            color: vars.$error_red_color;
            border-color: vars.$error_red_color;
          }
        }
        &-toAnswer {
          transition-property: transform;
          transition-delay: 0.1s;
          &:hover {
            color: vars.$accent_yellow_color;
            border-color: vars.$accent_yellow_color;
          }
        }
      }

      &:hover nav {
        opacity: 1;
      }

      &-answer {
        cursor: pointer;
        opacity: 0.7;
        grid-area: selectedMessage;
        background-color: vars.$dark_gray_color;
        padding: 5px;
        border-radius: 5px;
        display: grid;
        grid-template:
          "img name close"
          "img content close" / auto 1fr auto;
        column-gap: 6px;
        row-gap: 3px;
        transition-duration: 0.3s;
        &:hover {
          opacity: 1;
        }
        span {
          color: vars.$accent_yellow_color;
        }
        h3 {
          grid-area: name;
          font-size: 0.8rem;
        }
        p {
          grid-area: content;
          font-size: 0.9rem;
          @include mixins.cut-text;
        }
        img {
          grid-area: img;
          width: 3rem;
          aspect-ratio: 1/1;
          object-fit: cover;
          border-radius: 5px;
        }
      }
    }
    &__myMessage {
      text-align: left;
      align-self: end;
      border-radius: 10px 10px 0px 10px;
    }
  }

  .textarea {
    &__top {
      min-height: 2rem;
      transition-duration: 0.5s;
      display: grid;
      align-items: center;
      grid-template:
        "whoIsTyping nameOfFile"
        "selectedMessage selectedMessage";
      grid-template-columns: 1fr 30%;

      @media (max-width: 500px) {
        grid-template-columns: 1fr 50%;
      }

      .nameOfFile {
        grid-area: nameOfFile;

        padding: 0 8px;
        text-align: right;
        @include mixins.cut-text;
        animation: enterAnim 1s ease-in 1 forwards;

        @keyframes enterAnim {
          0% {
            padding-right: 40%;
          }
          100% {
            padding-right: 8px;
          }
        }
      }

      .whoIsTyping {
        grid-area: whoIsTyping;
        padding: 0 8px;
        animation: whoIsTypingAnim 1s ease-in-out infinite alternate;
        overflow: auto;

        @include mixins.cut-text;

        @keyframes whoIsTypingAnim {
          0% {
            letter-spacing: 0px;
          }
          100% {
            letter-spacing: 1px;
          }
        }
      }

      .selectedMessage {
        grid-area: selectedMessage;
        background-color: vars.$dark_gray_color;
        margin: 5px;
        padding: 5px;
        border-radius: 5px;
        display: grid;
        grid-template:
          "img name close"
          "img content close" / auto 1fr auto;
        column-gap: 6px;
        row-gap: 3px;
        span {
          color: vars.$accent_yellow_color;
        }
        h3 {
          grid-area: name;
          font-size: 1rem;
          color: vars.$accent_yellow_color;
        }
        p {
          grid-area: content;
          font-size: 0.9rem;
          @include mixins.cut-text;
        }
        img {
          grid-area: img;
          width: 3rem;
          aspect-ratio: 1/1;
          object-fit: cover;
          border-radius: 5px;
        }
        button {
          width: 30px;
          grid-area: close;
        }
      }
    }

    &__bottom {
      display: flex;

      border: 1px solid rgba(245, 245, 245, 0.2);
      border-radius: 5px;
      transition-duration: 0.3s;

      height: 3.6rem;

      &:has(textarea:focus) {
        box-shadow: 0 0 8px vars.$accent_yellow_color;
      }
    }

    &__field {
      flex-grow: 1;
      color: vars.$text_white_color;
      &:focus ~ nav button {
        opacity: 0.7;
      }
    }

    &__nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 100%;
      padding: 0px 5px;
      position: relative;

      &_emoji {
        display: none;
        position: absolute;
        z-index: 100;
        right: 0;
        top: 0;
        transform: translateY(-100%);
        padding: 20px 0;

        &-body {
          width: 100%;
          height: 100%;
          border: 1px solid rgba(245, 245, 245, 0.2);
          background-color: vars.$background_gray_color;
          padding: 20px;
          border-radius: 5px;
        }

        &-section {
          margin-bottom: 10px;
          p {
            margin-bottom: 5px;
          }
        }

        &-list {
          list-style: none;
          display: grid;
          grid-template-columns: repeat(8, 1fr);
          gap: 5px;

          li {
            font-size: 1.6rem;
            text-align: center;
            aspect-ratio: 1/1;
            // background-color: red;
            cursor: pointer;

            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }
    }

    &__button {
      font-size: 2rem;
      opacity: 0.3;
      width: 35px;

      transition-duration: 0.4s;
      height: 100%;

      &:hover {
        opacity: 1 !important;
      }
    }

    &__fileStatus {
      &::after {
        content: "✔";
        color: greenyellow;
      }
      &:hover::after {
        content: "Х";
        color: red;
      }
    }
  }

  .imageWrapper {
    position: fixed;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    backdrop-filter: blur(3px) brightness(0.8);

    @include mixins.flex-center;

    section {
      width: 80vw;
      height: 80vh;

      @include mixins.flex-center;

      img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
      }
    }
  }
}
