@use "../../vars";
@use "../../mixins";

@import "./UI/scss/textarea";
@import "./UI/scss/chat";
@import "./UI/scss/voice_message";
@import "./UI/scss/image_showblock";

.wrapper-chat {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
}
