@use "../vars";

.form {
  background-color: vars.$background_gray_color;

  padding: 20px;
  width: 100%;
  height: 100%;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  .title {
    margin-bottom: 10px;
    font-size: 6rem;
    color: vars.$background_gray_color;
    text-shadow: 0 0 3px vars.$accent_yellow_color;
    user-select: none;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    letter-spacing: 3px;
    opacity: 0.7;
    span {
      transform: rotate(35deg);
      display: inline-block;
    }

    @media (max-width: 500px) {
      font-size: 4rem;
      margin-bottom: 30px;
    }

    @media (max-width: 350px) {
      font-size: 15vw;
      margin-bottom: 30px;
    }
  }

  h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: vars.$text_white_color;
    text-shadow: 0 0 2px rgb(40, 40, 40);
  }

  &__field-btns {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
