@use "../vars";

.form {
  background-color: vars.$background_gray_color;

  padding: 20px;
  width: 100%;
  height: 100%;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  .title {
    margin-bottom: 10px;
    font-size: 6rem;
    color: vars.$background_gray_color;
    text-shadow: 0 0 3px rgb(104, 104, 104);
    user-select: none;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    letter-spacing: 3px;
    span {
      transform: rotate(35deg);
      display: inline-block;
    }
  }

  h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: rgb(72, 72, 72);
    text-shadow: 0 0 2px rgb(40, 40, 40);
  }

  &__field-btns {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }


}
