$accent_color: rgb(207, 207, 38);
$background_color: rgb(53, 53, 53);

.form {
  background-color: $background_color;

  padding: 20px;
  width: 100%;
  height: 100%;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  input {
    border-radius: 8px;
    padding: 10px;
    border: 0;
    text-align: center;
    margin-top: 5px;
    background-color: transparent;
    border-bottom: 1px solid gray;
    color: $accent_color;
    font-size: 18px;
  }

  input:focus {
    outline: 0;
  }

  .title {
    margin-bottom: 10px;
    font-size: 90px;
    color: $background_color;
    text-shadow: 0 0 3px rgb(36, 36, 36);
    user-select: none;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    letter-spacing: 3px;
    span{
      transform: rotate(35deg);
      display: inline-block;
    }
  }

  h2 {
    margin-bottom: 20px;
    font-size: 34px;
    color: rgb(72, 72, 72);
    text-shadow: 0 0 2px rgb(40, 40, 40);
  }

  input[type="submit"] {
    padding: 10px 25px;
    border: 1px solid gray;
    color: gray;
    transition-duration: 0.3s;
    opacity: 0.4;
    will-change: transform;
  }
  input[type="submit"]:hover {
    opacity: 1;
    cursor: pointer;
    background-color: $accent_color;
    transform: translateY(-5px);
  }
  input[type="submit"]:active {
    transition-duration: 0.1s;
    transform: translateY(-2px) scale(0.9);
  }

  &__field-btns {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .error {
    color: red;
    // margin-bottom: 20px;
  }
}
